@import 'tailwindcss';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/themes/catppuccin';

@import '@skeletonlabs/skeleton-svelte';

.toast-message {
  color: #e9e9e9;
  font-size: 1rem;
}
